<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="init"
       default-destroy-method="destroy">
    <bean id="initDestroy" class="my.ohremchuk.task5spring.task2.DefaultInitDestroy"/>
    <bean id="factoryMethodBean" class="my.ohremchuk.task5spring.task2.FactoryMethodBean"/>
    <bean id="createdBean" class="my.ohremchuk.task5spring.task2.CreatedBean"
          factory-bean="factoryMethodBean" factory-method="createBean"
          init-method="initMethod" destroy-method="destroyMethod"/>
</beans>